//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "Yu Mincho", YuMinscho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", 'Noto Serif Japanese', "HG明朝B", "MS Mincho", serif;
	font-weight: 500;
}

//============================================
// breakpoint
//============================================
@mixin sp {
 	@media screen and (max-width: #{$breakpoint1}) {
    @content;
 	}
}
@mixin sp3 {
 	@media screen and (max-width: #{$breakpoint3}) {
    @content;
 	}
}