//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1:767px;
$breakpoint2:480px;
$breakpoint3:320px;
// Common Colors
$color1: #001f59;
// $color2:#;
//$color3:#;

// link color
//$link:#383838;
//$hover:#383838
//$active:#383838;
//$visited:#383838;