/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*------------------------------------------------------------*/
.c-footer{
	&__txt{
		line-height: 50px;
		font-size: 1.4rem;
		text-align: center;
		color: #222222;
		background: #f9f9f9;
	}
}