/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header{
	background: url(/assets/image/common/h_bg.png) center top no-repeat;
	bacground-size: cover;
	height: 666px;
	border-top: 5px solid #ffed5d;
	overflow: hidden;
	@include sp{
		height: auto;
		border-top: none;
	}
	&__logo{
		padding: 41px 0 0 44px;
		@include sp{
			padding: 15px;
			background: #fff;
			border-bottom: 1px solid #000;
		}
	}
	&__centerImg{
		text-align: center;
		margin: -8px 0 0 13px;
		@include sp{
			margin: 0;
			padding: 35px 40px 60px 40px;
		}
	}
	&__btn{
		margin-top: -39px;
		a{
			position: relative;
			float: right;
			font-size: 3rem;
			text-align: right;
			line-height: 90px;
			padding: 0 62px 0 35px;
			color: #0c2940;
			background: #fff;
			border: 6px solid #ffba00;
			border-right: none;
			border-radius: 50px 0 0 50px;
			font-weight: bold;
			font-family: '小塚ゴシック Pro L','Kozuka Gothic Pro Light',sans-serif;
			&:after{
				content: '';
				background: url(/assets/image/common/arrow-down.png) no-repeat;
				position: absolute;
				width: 20px;
				height: 17px;
				top: 40px;
				right: 0;
				margin-right: 27px;
			}
			&:hover{
				color: #fff;
				background: #ffba00;
				&:after{
					background: url(/assets/image/common/arrow-down_hover.png) no-repeat;
				}
			}
		}
		@include sp{
			margin-top: 0;
			position: relative;
			position: absolute;
		    right: 0;
		    margin-top: -28px;
			a{
				font-size: 1.6rem;
				line-height: 50px;
				padding: 0 50px 0 20px;
				&:after{
					top: 18px;
					margin-right: 15px;
				}
			}

		}
	}
	.c-menuSP{
		&__icon{
			position: absolute;
			right: 0;
			top: 0;
			padding: 20px;
			border-left: 1px solid #ccc;
		}
		&__icon-close{
			margin: 15px 15px 20px 15px;
			float: right;
			background: #fff;
		}
		#sp-menu{
			width: 100%;
			position: fixed;
			top: 0;
		}
		&__item{
			a{
				width: 100%;
				font-size: 1.6rem;
				color: $color1;
				display: inline-block;
				padding: 10px 15px;
				border-top: 1px solid #ccc;
				background: #fff;
			}
		}
	}
}
body.is-open{
	overflow: hidden;
}