/*------------------------------------------------------------
index
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-index{
	.page-control {
	    width: auto;
	    height: 287px;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    right: 30px;
	    margin: auto;
	    z-index: 99;
	    &__line{
	    	width: 1px;
		    height: 177px;
		    background: #cccccc;
		    position: absolute;
		    top: 8px;
		    right: 4px;
	    }
	    li{
	    	text-align: right;
    		height: 30px;
    		a{
			    position: relative;
			    padding-right: 20px;
			    font-weight: bold;
			    display: block;
			    span{
			    	font-size: 1.4rem;
				    color: #cccccc;
				    display: none;
				    padding-right: 20px;
			    }
			    &:after{
			    	content: "";
				    background: url(/assets/image/common/dot.png) no-repeat;
				    width: 12px;
				    height: 12px;
				    position: absolute;
				    right: -2px;
				    top: 4px;
				    z-index: 99;
			    }
			    &:hover{
			    	span {
					    display: block;
					    color: #001f59;
					}
					&:after{
						 background: url(/assets/image/common/dot1.png) no-repeat;
					}
			    }
    		}
	    }
	    .hidden {
		    display: none;
		 }
	}

	.page-control li a.page-control-active span {
	    color: #001f59;
	    display: block;
	}
	.page-control li a.page-control-active:after {
	    background: url(/assets/image/common/dot1.png) no-repeat;
	}

	.p-index01{
		padding-top: 68px;
		text-align: center;
		&__title{
			display: inline-block;
			font-size: 4rem;
			font-weight: bold;
			color: #111111;
			letter-spacing: 1.5px;
			padding-left: 26px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 765px;
				height:2px;
				background: #ffba00;
				left: 30px;
				top: 70px;
			}
			@include sp{
				font-size: 1.5rem;
				letter-spacing: 1px;
				padding-left: 0;
				&:after{
					width: 100%;
					left: 0;
					top: 30px;
				}

			}
		}
		&__txt01{
			font-size: 2.4rem;
			line-height: 38px;
			color: $color1;
			padding-top: 56px;
			font-weight: bold;
			@include sp{
				font-size: 1.4rem;
				padding-top: 37px;
				line-height: 22px;
			}
		}
		&__txt02{
			font-size: 1.6rem;
			line-height: 28px;
			color:#222222;
			padding-top: 18px;
			letter-spacing: 0.01;
			@include sp{
				font-size: 1.4rem;
				padding-top: 20px;
				line-height: 22px;
			}
		}
		&__cont{
			background: url(/assets/image/index/bg01.png) no-repeat; 
			background-size: cover;
			padding: 205px 0 100px 0;
			@include sp{
				background-position: center;
				margin-top: -50px;
				padding: 130px 0 40px 0;
			}
		}
		.c-title01{
			h2:after{
				background: url(/assets/image/common/glasses.png);
				width: 70px;
				height: 24px;
				bottom: -40px;
				@include sp{
					bottom: -30px;
				}
			}
		}
	}
	.p-index02{
		padding: 100px 0;
		overflow: hidden;
		@include sp{
			padding: 40px 0 0 0;
		}
		&__bg01{
			position: absolute;
    		z-index: -1;
    		margin-top: 80px;
    		left: 898px;
			width: 680px;
			height: 1780px;
			background: #fff6cd;
			border-radius: 10px;
		}
		&__left{
			width: 1580px;
			@include sp{
				width: 100%;
				background: #fff6cd;
    			padding-top: 12px;
			}
		}
		&__item{
			clear: both;
			display: flex;
			@include sp{
				display: block;
				padding-bottom: 30px;
			}
		}
		&__img{
			width: 960px;
			height: 430px;
			float: left;
			@include sp{
				width: 100%;
				height: auto;
			}
		}
		.p-step{
			font-size: 5rem;
			font-weight: bold;
			margin: -5px 0 5px 0;
			position:relative;
			@include sp{
				font-size: 2.3rem;
				margin: -65px 0 20px 0;
			}
			&:after{
				content: '';
				position: absolute;
				width: 2px;
				height: 50px;
				bottom: -40px;
				@include sp{
					height: 25px;
					bottom: -20px;
				}
			}
			span{
				margin-right: 0px;
				padding: 0 17px;
				font-size: 7rem;
				font-weight: normal;
				border-radius: 5px;
				background: #fff;
				@include sp{
					font-size: 3.5rem;
				}
			}
			&--01{
				width: 620px;
				float:right;
				padding-left:97px;
				&:after{
					left: 190px;
					background: #fccd2b;
				}
				span{
					color: #fccd2b;
					border: 3px solid #fccd2b;
				}
				@include sp{
					width: 100%;
					padding-left:80px;
					text-align: center;
					&:after{
						left: 50%;
						transform: translate(-50%, 0);
					}
				}
			}
			&--02{
				padding-left:220px;
				&:after{
					width: 3px;
					left: 310px;
					background: #001f59;
				}
				span{
					border: 3px solid #001f59;
					border-radius: 5px;
				}
				@include sp{
					width: 100%;
					padding-left: 80px;
					text-align: center;
					&:after{
						left: 50%;
						transform: translate(-50%, 0);
					}
				}
			}

		}

		&__cont{
			padding-top: 100px;
			@include sp{
				padding-bottom: 60px;
			}
			.c-box{
				margin-left: -120px;
				&:after{
			    	content: '';
			    	position: absolute;
			    	background: url(/assets/image/index/arrow.png) bottom;
			    	width: 18px;
			    	height: 60px;
			    	bottom: -68px;
			    	left: 290px;
			    	@include sp{
			    		height: 30px;
			    		bottom: -34px;
			    		left: 50%;
			    		transform: translate(-50%, 0);
			    	}
			    }
			    @include sp{
					margin-left: 0;
					width: 90%;
					left: 50%;
					transform: translate(-50%, 0);
				}
			}
			.p-index02__item:last-child{
				.c-box:after{
			    	content: '';
			    	position: absolute;
			    	background: url(/assets/image/index/arrow01.png) bottom;
			    	width: 18px;
			    	height: 109px;
			    	bottom: -115px;
			    	left: 290px;
			    	@include sp{
			    		height: 45px;
			    		bottom: -49px;
			    		left: 50%;
			    		transform: translate(-50%, 0);
			    	}
				}
			}
		}

		&__cont01{
			padding-top: 75px;
			float: right;
			@include sp{
				padding-top: 15px;
				padding-bottom: 40px;
				background: #dfecf9;
			}
			.c-box{
				margin-right: -120px;
				&__cont{
					margin-top: 8px;
				}
				@include sp{
					margin-right: 0;
					left: 50%;
					transform: translate(-50%, 0);
					bottom: 0;
				}
			}
			.item1{
				.c-box:after{
			    	content: '';
			    	position: absolute;
			    	background: url(/assets/image/index/arrow02.png) bottom;
			    	width: 18px;
			    	height: 160px;
			    	bottom: -168px;
			    	left: 290px;
			    	@include sp{
						height: 30px;
						bottom: -33px;
						left: 50%;
						transform: translate(-50%, 0);
			    	}
				}
			}
			.p-index02__item:last-child{
				padding-top: 100px;
				@include sp{
					padding-top: 30px;
				}
			}
			.p-index02__img{
				.img01{
					position: relative;
					left: -160px;
					@include sp{
						position: absolute;
					    left: auto;
					    right: 0;
					    margin-top: -220px;
					    img{
					    	width: 50%;
					    	float: right;
					    }
					}
				}
				.img02{
					padding-left: 140px;
					margin-top: -130px;
				}
			}
		}
		&__bg02{
			position: absolute;
    		z-index: -1;
    		margin-top: 85px;
    		right: 898px;
			width: 680px;
			height: 1084px;
			background: #dfecf9;
			border-radius: 15px 15px 0 0;
		}
	}
	.p-video{
		background: url(/assets/image/index/bg02.png) center no-repeat;
		background-size: cover;
		text-align: center;
		padding: 130px 0;
		@include sp{
			padding: 30px 0;
		}
		&__txt01{
			color: #ffba00;
			font-size: 5rem;
			position: relative;
			@include sp{
				padding-top: 10px;
				font-size: 2.7rem;
			}
			&:before, &:after{
				content: "";
				width: 5px;
				height: 60px;
				top: 15px;
				margin-left: -40px;
				position: absolute;
				background: #ffba00;
				@include sp{
					height: 30px;
				}
			}
			&:before{
				margin-left: -40px;
				transform: rotate(-25deg);
				@include sp{
					margin-left: -25px;
				}
			}
			&:after{
				margin-left: 40px;
				transform: rotate(25deg);
				@include sp{
					margin-left: 25px;
				}
			}
		}
		&__txt02{
			color: #fff;
			font-size: 2.4rem;
			margin-top: -2px;
			@include sp{
				font-size: 1.3rem;
			}
		}
		&__btnPlay{
			margin: 28px 0 0 5px;
			@include sp{
				margin: 15px 0 0 0;
			}
		}
	}
	.p-index03{
		background: #fefae8;
		padding: 100px 0 172px 0;
		@include sp{
			padding: 40px 0;
		}

		.p-slide{
			width: 1000px;
			margin: 110px auto 0;
			@include sp{
				width: 100%;
				margin: 55px 0;
				.slick-prev{
					left: 0;
				}
				.slick-next {
				    right: 40px;
				}
				.slick-dots {
					bottom: -40px;
					li{
						width: 10px;
	   					height: 10px;
						margin: 0 5px;
					}
				}
			}
			&__cont{
				border: 10px solid #ececec;
				border-radius: 10px;
				height: 465px;
				background: #fff;
				display: inline-block;
				padding-left: 50px;
				@include sp{
					height: auto;
					margin: 0 20px;
					padding-left: 0;
					border: 5px solid #ececec;
				}
				.slide-title{
					text-align: center;
					font-weight: bold;
					padding-top: 40px;
					@include sp{
						padding-top: 18px;
					}
					&__txt01{
						font-size: 2rem;
						color: #ffa800;
						span{
							color: $color1;
						}
						@include sp{
							font-size: 1.2rem;
						}
					}
					&__txt02{
						font-size: 3rem;
						color: $color1;
						@include sp{
							font-size: 1.4rem;
						}
					}
				}
				.slide-content{
					&__left{
						width: 481px;
						float: left;
						font-size: 1.8rem;
						padding-right: 30px;
						padding-top: 30px;
						@include sp{
							width: 100%;
							font-size: 1.4rem;
							padding: 20px;
							line-height: 22px;
						}
						.u-mb40{
							padding-bottom: 26px;
							@include sp{
								padding-bottom: 0;
							}
						}
						.u-f16{
							font-size: 1.6rem;
							@include sp{
								font-size: 1.2rem;
							}
						}
					}
					&__right{
						width: 400px;
						padding-top: 35px;
						display: inline-block;
						@include sp{
							width: 100%;
							padding-top: 15px;
							img{ width: 100%;}
						}
					}
				}
			}
		}
	}
	.p-index04{
		padding: 50px 0 120px 0;
		@include sp{
			padding: 45px 0 40px 0;
		}
		&__tbl{
			width: 1000px;
			margin: 114px auto 0;
			@include sp{
				width: 100%;
				padding: 0 20px;
				margin: 50px auto 0;
			}
			.tbl-row{
				border-top: 1px solid #ddd;
				padding: 25px 0 23px 0;
				line-height: 28px;
				display: table;
				&:last-child{
					border-bottom: 1px solid #ddd;
				}
				@include sp{
					display: block;
					padding: 15px 0;
					line-height: 22px;
				}
			}
			.tbl-col1{
				width: 280px;
				display: table-cell;
				font-size: 2rem;
				font-weight: bold;
				padding-left:30px;
				vertical-align: middle;
				color: $color1;
				@include sp{
					width: 100%;
					display: block;
					padding-left:0;
					font-size: 1.4rem;
				}
			}
			.tbl-col2{
				width: 720px;
				display: table-cell;
				font-size: 1.8rem;
				a{
					color: #ffa800;
					border-bottom: 1px solid #ffa800;
				}
				@include sp{
					width: 100%;
					display: block;
					font-size: 1.4rem;
				}
			}
		}
	}
	.p-access{
		padding: 100px 0 45px 0;
		@include sp{
			padding:  40px 0 10px 0;
		}
		&__content{
			padding-top:  110px;
			@include sp{
				padding-top:  50px;
			}
		}
		&__item{
			display: flex;
			padding-bottom: 50px;
			overflow: hidden;
			@include sp{
				display: block;
				padding-bottom: 30px;
			}
			.item2{
				float: right;
				.infor-detail__title{
					padding: 50px 0 10px 0;
					@include sp{
						padding: 20px 0 10px 20px;
					}
				}
				.infor-detail__list li{
					padding-left: 30px;
				}
			}
		}
		&__map{
			width: 50%;
			iframe{
				width: 100%;
				height: 450px;
			}
			@include sp{
				width: 100%;
				iframe{
					height: auto;
				}

			}
		}
		&__infor{
			width: 50%;
			@include sp{
				width: 100%;
			}
			.infor-detail{
				width: 509px;
				@include sp{
					width: 100%;
				}
				&__title{
					color: $color1;
					font-size: 4rem;
					font-weight: bold;
					padding: 45px 0 10px 52px;
					@include sp{
						font-size: 2rem;
						padding: 20px 0 10px 20px;
					}

				}
				&__list{
					padding-top: 5px;
					@include sp{
						padding: 0 20px;
					}
					li{
						display: flex;
						font-size: 1.8rem;
						line-height: 28px;
						padding: 15px 0  13px 80px;
						position: relative;
						@include sp{
							display: block;
							padding: 15px 0 0 30px;
							font-size: 1.4rem;
							line-height: 22px;
						}
						span{
							color: $color1;
							width: 110px;
							font-weight: bold;
							@include sp{
								width: 100%;
							}
						}
						&:before{
							content: "";
							width: 10px;
							height: 3px;
							top: 27px;
							margin-left: -20px;
							background: #ffd74e;
							position: absolute;
						}

					}
				}
			}
		}
	}
	.p-qa{
		padding: 105px 0 90px 0;
		background: #fffbe9;
		@include sp{
			padding: 40px 0 30px 0;
		}
		.qa-content{
			width: 1000px;
			margin: 120px auto 0;
			@include sp{
				width: 100%;
				margin: 60px auto 0;
			}
		}
		.qa-box{
			border: 10px solid #ececec;
			border-radius: 5px;
			padding: 50px;
			margin-bottom: 30px;
			background: #fff;
			@include sp{
				border: 5px solid #ececec;
				margin: 10px 20px;
				padding: 20px;
			}
			&__question{
				font-size: 2rem;
				font-weight: bold;
				line-height: 28px;
				display: flex;
				padding-bottom: 31px;
				color: $color1;
				border-bottom: 2px solid #ddd;
				span{
					font-size: 4rem;
					padding-right: 20px;
				}
				@include sp{
					font-size: 1.4rem;
					line-height: 22px;
					padding-bottom: 10px;
					span{
						font-size: 1.5rem;
						padding-right: 10px;
					}
				}
			}
			&__answer{
				font-size: 1.8rem;
				line-height: 28px;
				padding-top: 35px;
				display: inline-flex;
				span{
					font-size: 4rem;
					color: #ffa800;
					font-weight: bold;
					padding-right: 20px;
				}
				@include sp{
					font-size: 1.4rem;
					line-height: 22px;
					padding-top: 10px;
					span{
						font-size: 1.5rem;
						padding-right: 10px;
					}
				}
			}
		}
	}
	.p-contact{
		padding: 90px 0 120px 0;
		@include sp{
			padding: 40px 0;
		}
		.c-title01{
			h2{
				font-size: 4.8rem;
				@include sp{
					font-size: 2.3rem;
				}
			}
		}
		.contact-form{
			width: 1000px;
			margin: 115px auto 40px;
			@include sp{
				width:100%;
				margin: 55px auto 30px;
			}
		}
		.contact-row{
			width: 1000px;
			font-size: 1.8rem;
			display: table;
			border-top: 1px solid #ddd;
			&:last-child{
				border-bottom: 1px solid #ddd;
			}
			@include sp{
				width: calc(100% - 25px);
				font-size: 1.3rem;
				margin: 0 10px;
			}
			.col1{
				width: 290px;
				display: table-cell;
				padding: 0 28px;
				color: $color1;
				background: #f9f9f9;
				vertical-align: middle;
				p{
					display: inline-block;
				}
				span{
					float: right;
					font-size: 1.2rem;
					padding: 0 5px;
					margin-top: 5px;
					color: #fff;
					background: #ffa800;
				}
				.u-grey{
					background: #cccccc;
				}
				@include sp{
					width:35%;
					background: #fff;
					padding: 10px 5px 10px 0;
					p{
						display: block;
					}
					span{
						float: none;
						font-size: 1rem;
					}
				}
			}
			.col2{
				display: table-cell;
				padding: 20px 0 20px 28px;
				vertical-align: middle;
				@include sp{
					width: 70%;
					padding: 10px 0;
				}
				input, textarea{
					padding: 6px;
					border: 1px solid #ddd;
					box-sizing: border-box;

				}
				textarea{
					width: 680px;
					height: 102px;
					padding: 10px;
					@include sp{
						width:100%;
					}
				}
				.size1{
					width: 400px;
					@include sp{
						width: 100%;
					}
				}
				.size2{
					width: 50px;
					padding: 6px 10px;
					margin-right: 10px;
				}
				.size3{
					width: 60px;
					height: 28px;
					margin-right: 10px;
					margin-left: 15px;
					@include sp{
						width: 50px;
						margin: 5px 5px 0 0;
					}
				}
				.rdbtn{
					padding-right: 22px;
				}
			}
			.col1-last{
				@extend .col1;
				@include sp{
					display: none;
				}
			}
			.col2-last{
				@extend .col1;
				display: none;
				@include sp{
					display: block;
				}
			}
		}
		.frm-btn{
			width: 350px;
			text-align: center;
			display: table;
			margin: 0 auto;
			a{
				font-size: 2.4rem;
				font-weight: bold;
				line-height:70px;
				color: #fff;
				background: #0c2940;
				display: block;
    			border-radius: 50px;
    			position: relative;
    			&:hover{
    				background: #ffa800;
    			}
    			&:after{
    				content: '';
    				position: absolute;
    				background: url(/assets/image/common/arrow-right.png);
    				width: 10px;
    				height: 12px;
    				top: 28px;
    				margin-left: 25px;
    			}
			}
			@include sp{
				width: 100%;
				a{
					margin: 0 20px;
					font-size: 1.6rem;
					line-height:40px;
					&:after{
						right: 20px;
						top: 40%;
					}
				}
			}
		}
	}
}
