/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*------------------------------------------------------------*/
.c-title01{
	h2{
		font-size: 6.8rem;
		text-align: center;
		font-weight: bold;
		color: $color1;
		padding-left:20px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			background: url(/assets/image/common/glass02.png);
			width: 50px;
			height: 18px;
			bottom: -32px;
			left: 49.5%;
		}
		@include sp{
			font-size: 2.7rem;
			&:after{
				left: 50%;
				bottom: -20px;
				transform: translate(-50%, 0);

			}
		}
	}
}