/*------------------------------------------------------------
other
------------------------------------------------------------*/

/* page index
------------------------------------------------------------*/
.c-block01{
	display: table;
	margin-top: 73px;
	@include sp{
		margin-top: 0;
	}
	&--left{
		float: left;
		@include sp{
			float: none;
		}
	}
	&--right{
		float: right;
		@include sp{
			float: none;
		}
	}
	&__item{
		padding-top: 100px;
		@include sp{
			padding-top: 50px;
			overflow: hidden;
		}
	}
	&__left{
		display: table-cell;
		vertical-align: top;
		@include sp{
			display: block;
			.c-block01__img{
				padding-right: 20px;
				padding-top: 50px;
				display: flex;
			}
		}
		.c-block01__cont{
			width: 500px;
			float: right;
			padding-right: 63px;
			padding-left: 0;
			@include sp{
				width: 100%;
				padding: 18px 20px;
			}
		}
	}
	&__right{
		text-align: left;
		display: table-cell;
		vertical-align: top;
		@include sp{
			display: block;
			.c-block01__img{
				padding-left: 20px;
				display: flex;
    			float: right;
			}
		}
	}
	&__img{
		img{
			width: 100%;
		}
	}
	&__cont{
		width: 445px;
		margin-top: -7px;
		padding-left: 55px;
    	text-align: left;
    	@include sp{
			width: 100%;
			padding: 18px 20px;
			margin: 0;
		}
	}
	&__title{
		font-size: 5.6rem;
		line-height: 68px;
		color: $color1;
		.smtxt{
			font-size: 2.6rem;
			color: #ffa800;
			padding-left: 22px;
			position: relative;
    		top: -8px;
    		font-weight: bold;

		}
		@include sp{
			font-size: 2.5rem;
			line-height: 34px;
			.smtxt{
				font-size: 2rem;
				top: 0;
				padding-left: 0;
			}
		}
	}
	&__line01{
		margin-top: 9px;
		margin-left: -128px;
		@include sp{
			border-bottom: 1px solid $color1;
			margin-left: 0;
		}
	}
	&__line02{
		margin-top: 9px;
		position: relative;
		@include sp{
			border-bottom: 1px solid $color1;
			margin: 0;
		}
	}
	&__txt{
		font-size: 1.8rem;
		line-height: 28px;
		padding: 31px 0 0 4px;
		@include sp{
			font-size: 1.4rem;
			line-height: 22px;
			padding: 14px 0 0 0;
		}
	}
	.u-color1{
		color: $color1;
		font-weight: bold;
	}
}
/*
------------------------------------------------------------*/
.c-infor{
	background: #ffd74e;
	padding: 60px 0 0 0;
	overflow: hidden;
	@include sp{
		padding: 20px 20px 5px 20px;
	}
	&__btn{
		display: table;
    	margin: 0 auto;
    	@include sp{
			display: none;
    	}
		a{
			width: 685px;
			font-size: 3.4rem;
			line-height: 105px;
			text-align: center;
			font-weight: bold;
			color: #0c2940;
			background: #fff;
			border: 5px solid #0c2940;
    		border-radius: 50px;
    		display: inline-block;
    		position: relative;
    		&:after{
    			content: '';
    			position: absolute;
    			background: url(/assets/image/common/arrow-down.png) no-repeat;
    			width: 20px;
    			height: 17px;
    			top: 44px;
    			margin-left: 72px;
    		}
    		&:before{
    			content: '';
    			position: absolute;
    			background: url(/assets/image/common/glass01.png) no-repeat;
    			width: 50px;
    			height: 18px;
    			top: 44px;
    			margin-left: -70px;
    		}
    		&:hover{
    			color: #fff;
    			background: #0c2940;
    			&:after{
    				background: url(/assets/image/common/arrow-down_hover.png);
    			}
    			&:before{
    				background: url(/assets/image/common/glass01_hover.png);
    			}
    		}
    	}
	}
	&__phone{
		width: 675px;
		margin: 0 auto;
		font-weight: bold;
		padding: 40px 0 69px 0;
		@include sp{
			width: 100%;
			padding: 15px 0;
			img{
				width: 100%;
				padding-bottom: 15px;
			}
		}
	}
	&__colLeft{
		width: 340px;
		float: left;
		border-right: 2px solid $color1;
	}
	&__colRight{
		display: inline-block;
		padding-left: 30px;
	}
	&__num{
		font-size: 4rem;
		padding-left: 37px;
		position: relative;
		&:before{
			content: '';
			background: url(/assets/image/common/icon-phone.png);
			width: 26px;
			height: 34px;
			position: absolute;
			top: 10px;
			left: 0;
		}
	}
	&__txt{
		font-size: 2rem;
		margin-top: -5px;
	}
}
/*
------------------------------------------------------------*/
.c-box{
	width: 620px;
	height: 370px;
	background: #fff;
	display: inline-block;
	border: 8px solid #cccccc;
    border-radius: 5px;
    padding: 51px 50px 0;
    margin-top: 30px;
    position: relative;
    @include sp{
    	width: 90%;
    	height: auto;
    	border: 4px solid #cccccc;
    	margin-top: -30px;
    	padding: 20px;
    }
    &__step{
    	font-size: 3rem;
    	color: $color1;
    	font-weight: bold;
    	@include sp{
			font-size: 1.5rem;
    	}
    	span{
			color:#fccd2b;
			padding-left: 10px;
    	}
    }
    &__ttl{
    	margin: -4px 0 2px -7px;
    	color: $color1;
    	font-size: 4.6rem;
    	font-weight: bold;
    	@include sp{
			font-size: 2.3rem;
    	}
    }
    &__cont{
    	font-size: 1.8rem;
    	padding-top: 13px;
    	border-top: 2px solid #cccccc;
    	span{
    		color: $color1;
    		font-weight: bold;
    	}
    	@include sp{
			font-size: 1.4rem;
    	}
    }
}